/* Import the Source Code Pro and Source Sans 3 font families from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Color Variables */
  --placeholder: rgba(217, 217, 217, 50);

  /* Font Variables */
  --mono: 'Source Code Pro', monospace;
  --sans: 'Source Sans 3', sans-serif;
}

body {
  font-family: var(--sans);
  max-width: 1280px;
}

/* 
  TODO #6: [PORT-6] Present Responsive Layout
*/

/* 
  TODO #13: [PORT-11] Pin Site Header to Top of Viewport
*/

#site-title {
  margin-left: 32px;
  margin-right: 32px;
  text-align: center;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

menu {
  border-top: medium solid black;
  border-bottom: medium solid black;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 0.5em;
  padding-inline-start: initial;
  padding-top: 0.5em;
  text-align: center;
}

menu li {
  display: inline;
  list-style: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav a, nav a:active, nav a:visited {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: black;
  text-decoration: underline;
}

#banner {
  background-image: url('../images/1STVFMTBJY.webp');
  background-size: cover;
  /* fallback to placeholder color if our background images do not display */
  background-color: var(--placeholder);
  color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  min-height: 256px;
}

#avatar {
  height: 170px;
  width: 126px;
}

footer {
  background-color: black;
  position: sticky;
  bottom: 0;
  width: 100vw;
}

footer a, a:active, a:hover, a:visited {
  color: white;
}

footer p {
  color: white;
  font-size: 0.875em;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
}

.social-icon {
  height: 24px;
  margin: 24px;
  width: 24px;
}
