/* Import the Source Code Pro and Source Sans 3 font families from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Color Variables */
  --placeholder: rgba(217, 217, 217, 50);

  /* Font Variables */
  --mono: 'Source Code Pro', monospace;
  --sans: 'Source Sans 3', sans-serif;
}

body {
  font-family: var(--sans);
}

/* 
  TODO #6: [PORT-6] Present Responsive Layout
*/

header {
  max-width: 1280px;
}

#banner {
  background-image: url('../images/1STVFMTBJY.webp');
  background-size: cover;
  /* fallback to placeholder color if our background images do not display */
  background-color: var(--placeholder);
  color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  min-height: 256px;
}

#avatar {
  height: 170px;
  width: 126px;
}
